<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact us</title>
  </head>
  <body>
    <header >
      <h3>Enter your details :</h3>
    </header>
    <main>
      <form action="/host/contact-us" method="post">
        <input type="text" placeholder="Enter home name" name="homename" />
        <!-- <input type="text" placeholder="Enter your name" name="username" /> -->
        <input type="submit" />
      </form>
    </main>
  </body>
</html>
