<!-- when we need dynamic data in html then we have to change .html into ejs(when we use ejs package) -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="output.css" />
    <title>home</title>
  </head>
  <body
    class="bg-white flex flex-col items-center min-h-screen border border-green-600"
  >
    <header>
      <h1 class="bg-red-600 text-center w-screen text-white text-xl p-4">
        Welcome to home here
      </h1>
    </header>
    <main class="w-screen flex justify-center border border-green-600">
      <a
        href="/host/contact-us"
        class="text-white bg-slate-600 p-2 w-52 m-auto text-center"
        >Go to contacts</a
      >
    </main>
  </body>
</html>
