<%- include('partials/headPartials') %>
</head>
  <body>
    <header>
      <h3 class="bg-green-600">Your form submitted successfully </h3>
    </header>
    <main>
     <a href="/">Go to home</a>
    </main>
  </body>
</html>